
body{
background:#121825 ;
}
.container{
   padding:0 25px;
}
button{
  background-color: #121825;
  border:none;
}


input{
    display: block;
    background-color: #121825;
    color: #FFF;
    border: none;
    outline: none;
}
.input-img{
  position: absolute;
  top: 8px;
  left: 0;
}
.input-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  border: solid 1px #1C64F2;
  border-radius: 5px;
  padding: 10px;
  gap: 5px;
  margin-bottom: 24px;
}
td{
  border-bottom: solid 1px #1C64F2;
  padding: 10px;
  color: #FFF;
}
.th{
   position: absolute;
   top: 9px;
}
th{
border-bottom:  solid 1px black;
padding: 10px;
color: var(--darktheme-Gray-scale-Gray-6, #9CA3AF);
text-align: center;

font-family: "IBM Plex Sans";
font-size: 12px;
font-weight: 500;
line-height: 16px; 
background: var(--darktheme-base-black, #0E0C15);
width: 250px;
}
tr{
  position: relative;
}
.img-left{
  color: #FFF;
}
.img-right{
  color: #FFF;
}
.drawer{
  position: absolute;
  top: 0;
  right: 0;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}